.control-buttons {
  margin: 0 20px;
  margin-bottom: 74px;
  padding: 23px 15px 18px 25px;
  background-color: #f2f2f2;
  position: relative;
}

.control-buttons__again,
.control-buttons__cc,
.control-buttons_full-screen {
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: 0;
  position: relative;
  outline: none;
}

.control-buttons__again {
  margin-right: 128px;
}

.control-buttons__cc {
  margin-right: 26px;
}

.control-buttons__again-svg:hover,
.control-buttons__cc-svg:hover,
.control-buttons__full-screen-svg:hover {
  fill: #303030;
}

.control-buttons__again-svg:active,
.control-buttons__cc-svg:active,
.control-buttons__full-screen-svg:active {
  fill: #b9b9b9;
}

.control-buttons::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  width: 235px;
  height: 3px;
  border: 22px solid rgba(0, 0, 0, 0.4);
  border-bottom: 20px solid rgba(0, 0, 0, 0.4);
  border-right: 23px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
}

.control-buttons::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 57px;
  width: 11px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 10;
}

@media (min-width: @tablet-width) {
  .control-buttons__again-svg,
  .control-buttons__cc-svg,
  .control-buttons__full-screen-svg {
    fill: #ffffff;
  }

  .control-buttons__again-svg:hover,
  .control-buttons__cc-svg:hover,
  .control-buttons__full-screen-svg:hover {
    fill: #c3c3c3;
  }

  .control-buttons__again-svg:active,
  .control-buttons__cc-svg:active,
  .control-buttons__full-screen-svg:active {
    fill: #959595;
  }

  .control-buttons {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 648px;
    padding: 33px 15px 34px 34px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .control-buttons__again {
    margin-right: 469px;
  }

  .control-buttons::after {
    top: 44px;
    left: 92px;
    width: 389px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .control-buttons::before {
    top: 40px;
    left: 204px;
  }
}

@media (min-width: @desktop-width) {
  .control-buttons {
    left: 200px;
    width: 800px;
    padding: 34px 15px 33px 34px;
  }

  .control-buttons__again {
    margin-right: 620px;
  }

  .control-buttons::after {
    top: 45px;
    left: 92px;
    width: 540px;
  }

  .control-buttons::before {
    top: 42px;
  }
}
