.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantage__description,
.advantage__number {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantage__img {
  min-height: 260px;
  background-repeat: no-repeat;
}

.advantage__img--god-city {
  background-image: url("../img/main-city-mobile@1x.jpg");
}

.advantage__img--bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
}

.advantage--god-city,
.advantage--bridge {
  color: #ffffff;

  .advantage__wrapper {
    background-color: #81b3d2;
  }

  .advantage__number {
    padding: 5px 20px 5px 20px;
  }

  .advantage__description {
    padding: 10px 20px 40px 20px;
  }
}

.advantage--god-city {
  .advantage__title {
    padding: 41px 20px 4px 20px;
  }
}

.advantage--bridge {
  .advantage__title {
    padding: 38px 20px 4px 20px;
  }
}

@media (max-width: @tablet-width) {
  .advantage--god-city {
    .advantage__wrapper {
      position: relative;
      padding-top: 35px;
    }

    .advantage__wrapper::after {
      content: "";
      position: absolute;
      top: -2px;
      width: 320px;
      height: 37px;
      background-image: url("../img/white-copy-2.svg");
    }
  }

  .advantage--square,
  .advantage--road {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 20px;
      width: 280px;
      height: 1px;
      border-bottom: 1px solid #d7d7d7;
    }
  }
}

.advantage--square,
.advantage--road,
.advantage--tourists {
  background-color: #efefef;

  .advantage__title {
    color: #000000;
    padding: 27px 40px 4px 40px;
  }

  .advantage__number {
    padding: 6px 10px 9px 10px;
  }

  .advantage__description {
    padding: 6px 35px 27px 35px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__wrapper {
    width: 256px;
  }

  .advantage__title {
    font-size: 21px;
    width: 180px;
    margin: 0 auto;
  }

  .advantage__number {
    padding: 5px 10px 5px 10px;
  }

  .advantage__description {
    font-size: 14px;
    width: 178px;
    margin: 0 auto;
  }

  .advantage--god-city {
    padding: 0;
    margin-top: 50px;
  }

  .advantage--god-city,
  .advantage--bridge {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .advantage__title {
      width: 151px;
      padding: 44px 20px 4px 20px;
    }

    .advantage__number {
      padding: 9px 20px 5px 20px;
    }

    .advantage__description {
      width: 166px;
      padding: 16px 20px 44px 20px;
    }
  }

  .advantage__img {
    flex-grow: 2;
    min-height: 256px;
  }

  .advantage__img--god-city {
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .advantage__img--bridge {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }

  .advantage--bridge {
    .advantage__wrapper {
      order: 1;
    }
  }

  .advantage__without-img-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .advantage--square,
  .advantage--road,
  .advantage--tourists {
    width: 256px;

    .advantage__title {
      width: 160px;
      text-align: center;
      padding: 43px 40px 4px 40px;
    }

    .advantage__number {
      padding: 8px 10px 10px 10px;
    }

    .advantage__description {
      width: 160px;
      padding: 11px 35px 43px 35px;
    }
  }

  .advantage--road {
    .advantage__description {
      width: 130px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantage__wrapper {
    width: 400px;
  }

  .advantage--god-city {
    margin-top: 48px;
  }

  .advantage--god-city,
  .advantage--bridge {
    .advantage__title {
      padding: 51px 20px 5px 20px;
    }

    .advantage__description {
      width: 270px;
      padding: 16px 20px 57px 20px;
    }
  }

  .advantage--bridge {
    .advantage__description {
      width: 230px;
    }
  }

  .advantage__img--god-city {
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-position: right -69px;
  }

  .advantage__img--bridge {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-position: right -75px;
  }

  .advantage--square,
  .advantage--road,
  .advantage--tourists {
    width: 400px;

    .advantage__description {
      width: 283px;
      padding: 13px 35px 65px 35px;
    }
  }

  .advantage--road {
    .advantage__description {
      width: 280px;
    }
  }
}
