.page-footer__hashtag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 40px 0;
}

.page-footer__developer-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 0 33px 93px;
  color: #000000;
  display: block;
}

.social__list {
  display: flex;
  margin-left: 84px;
  padding: 0;
}

.social__item {
  list-style: none;
  margin: 3px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-items: center;
}
