.page-footer__hashtag {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 40px 0;
}

.page-footer__developer-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 0 33px 93px;
  color: #000000;
  display: block;
}
