.page-header__logo {
  width: 320px;
  padding-bottom: 56px;
  position: relative;
}

.page-header__logo::after {
  content: "";
  position: absolute;
  right: 34%;
  width: 102px;
  height: 83px;
  background-image: url("../img/logo-sedona-mobile.svg");
}

.page-header__invitation {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
}

.page-header__invitation-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  padding-bottom: 85px;
}

.page-header__invitation-img--small {
  padding-top: 52px;
  padding-bottom: 67px;
}
