
.section__title {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 43px 10px 43px 10px;
}

.section__description {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 3px 20px 8px 20px;
}




