
.service__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 20px 10px 5px 67px;
  text-transform: uppercase;
}


.service__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #333333;
  padding: 5px 10px 20px 67px;
  text-transform: uppercase;
}







