.site-list__item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #81b3d2;
  list-style: none;
  text-align: center;
}

.site-list__item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}
