.site-list__item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

.site-list__link {
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 16px;
  display: block;
}

@media (max-width: @tablet-width) {
  .site-list__item {
    font-size: 18px;
  }

  .site-list__link {
    color: #ffffff;
    padding-bottom: 17px;
    background-color: #81b3d2;
  }

  .site-list__link:hover {
    background-color: #669ec0;
  }

  .site-list__link:active {
    background-color: #5496bd;
  }

  .site-list__item:not(:last-child) .site-list__link {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  .site-list__item:not(:first-child) .site-list__link {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    font-size: 14px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 156px;
  }

  .site-list__link {
    color: #000000;
    width: 153px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .site-list__link--active {
    color: #766357;
  }

  .site-list__link:hover {
    color: #81b3d2;
  }

  .site-list__link:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .site-list__link--active:hover {
    color: #604e43;
  }

  .site-list__link--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    font-size: 14px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 244px;
  }

  .site-list__link {
    width: 239px;
    padding-bottom: 19px;
  }
}
